#
# Master Pillar Data
#
icinga2:
  lookup:
    master_fqdn: icinga2master.example.com
    master_minion_id: icinga2master
    constants:
      TicketSalt: randomsaltstring
    features:
      api:
        ca_path: /var/lib/icinga2/ca/ca.crt
      mainlog:
        severity: critical
    plugins:
      - itl
      - plugins
      - plugins-contrib
    conf:
      apiuser:
        root:
          password: apirootpassword
          permissions:
            - '*'
x509_signing_policies:
  icinga2:
    - minions: '*'
    - signing_private_key: /var/lib/icinga2/ca/ca.key
    - signing_cert: /var/lib/icinga2/ca/ca.crt
    - basicConstraints: "critical CA:false"
    - days_valid: 365
    - copy_path: /var/lib/icinga2/ca
mine_functions:
  icinga2_ca_cert:
    mine_function: x509.get_pem_entries
    glob_path: /var/lib/icinga2/ca/ca.crt


#
# Client Pillar Data
#
icinga2:
  lookup:
    master_fqdn: icinga2master.example.com
    master_minion_id: icinga2master
    features:
      api:
        accept_config: 'true'
        accept_commands: 'true'
        bind_host: '127.0.0.1'
      mainlog:
        severity: warning
    plugins:
      - itl
      - plugins
      - plugins-contrib
    conf:
      zone:
        master:
          endpoints:
            - icinga2master.example.com
        ZoneName:
          endpoints:
            - NodeName
          parent: master
      endpoint:
        NodeName: {}
        icinga2master.example.com
          host: icinga2master.example.com
