/**
* The db_ido_pgsql library implements IDO functionality
* for PostgreSQL.
*/

library "db_ido_pgsql"

object IdoPgsqlConnection "ido-pgsql" {
	user = "{{ db.user }}",
	password = "{{ db.password }}",
	host = "{{ db.host }}",
	database = "{{ db.name }}"
}
